* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --vibrant100: #f8e9a1;
    --vibrant200: #f76c6c;
    --vibrant300: #a8d0e6;
    --vibrant400: #374785;
    --vibrant500: #24305e;
}

:root {
    --light500: #0B3954;
    --light400: #BE92A2;
    --light300: #C8E1E5;
    --light200: #FAFFFD;
    --light100: #F4D35E;
}

:root {
    --soothing1: #FFDFDE;
    --soothing2: #6A7BA2;
    --soothing3: #171219;
    --soothing4: #A53F2B;
    --soothing5: #69353F;
}

html {
    height: 100%;
}

/* div {
    outline: 1px orange solid;
} */

.container {
    display: grid;
    grid-template-columns: 2fr 14fr;
    height: 100vh;
}

.dashboard {
    background-color: var(--soothing2);
    color: var(--soothing1);
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 10fr;
    padding-left: 20px;
    border-right: var(--soothing1) 12px solid;
}

.branding {
    grid-row: 1 / 2;
    margin: 20px 0 0 10px;
}

.navigation {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

ul {
    list-style-image: url(https://placehold.co/10x10/png);
    margin-left: 40px;
}

.right {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 150px 5fr;
}

.header {
    position:relative;z-index:10;
    background-color: var(--soothing1);
    color: var(--soothing2);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 20px 40px;
}

.search {
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-left {
    display: flex;
}

input[type="text"] {
    width: clamp(150px, 40vw, 500px);
}

.search-left button {
    margin-right: 20px;
}

.search-right {
    display: flex;
    gap: 20px;
    margin-right: 30px;
}

.heading {
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    justify-content: center;
}

.buttons button {
    margin: 0 20px;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--soothing2);
    color: var(--soothing1);
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: min-content min-content;
    column-gap: 20px;
}

.user-info>img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.user-info>p:nth-child(1) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#small-hi {
    font-size: 0.8rem;
}

.main {
    background-color: white;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 10fr 2.5fr;
    padding: 30px;
}

.main-left {
    /* background-color: rgb(213, 186, 231); */
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: min-content 1fr;

}

.main-left>h3 {
    grid-row: 1 / 2;
}

.project-cards {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 25px;
}

.card {
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
    background-color: var(--soothing1);
    color: var(--soothing2);
}

.project-card {
    border-left: 14px var(--soothing2) solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-buttons {
    align-self: flex-end;
}

.main-right {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 25px;
    padding-left: 25px;
}

.announcements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 20px 20px;
    /* max-height: 300px; */
}

.announcements>div>h4 {
    font-size: 0.8rem;
}

.announcements>div>p {
    font-size: 0.8rem;
}

.trending {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    gap: 15px;
    padding: 20px 20px;
    
}

.trending>p {
    font-size: 0.8rem;
}

#img1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#img1+p {
    grid-column: 2 / 3;
}


.main-right_bottom {
    display: flex;
    flex-direction: column;
}

.card-header {
    margin-bottom: 20px;
}

.announcements,
.trending {
    background-color: var(--soothing2);
    color: var(--soothing1);
}