* {
    box-sizing: border-box;
    list-style: none;
    /* margin: 0;
    padding: 0; */
}

div {
    outline: 1px black solid;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.dashboard {
    background-color: rgb(58, 131, 240);
    color: white;

    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 10fr;
}

    .logo {
        grid-row: 1 / 2;
    }

    .links {
        grid-row: 2 / 3;
    }

.right {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.header {
    background-color: rgb(206, 209, 163);
    grid-row: 1 / 2;
}

.main {
    background-color: rgb(219, 219, 219);

    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

    .main-left {
        background-color: rgb(213, 186, 231);

        grid-column: 1 / 2;
        display: grid;
        grid-template-rows: 1fr 10fr;
    }

        .main-left > p {
            grid-row: 1 / 2;
        }

        .project-cards {
            grid-row: 2 / 3;
        }

    .main-right {
        background-color: rgb(243, 162, 162);

        grid-column: 2 / 3;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

        